<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D&amp;D 5e Character Generator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="custom-f6/css/app.css">
	<link rel="stylesheet" href="custom-f6/css/foundation.css">
	<link rel="stylesheet" href="custom-f6/css/foundation-flex.css">
	<link href='https://fonts.googleapis.com/css?family=Tulpen+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="row">
	<div class="large-12 columns">
		<% var name = [race.female_name,race.male_name] %>
		<h3>Your name is<%= name[Math.floor(1)] %><%= race.clan_or_family_name %></h3>
		<p>You're a Level 1 <%= race.race %> <%= job.class %></p>
		<p>Here are your stats:</p>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<u>Ability Score</u>
		<ul>
			<li>Strength: <%=stat.Strength.score %> (<%=stat.Strength.modifier %>)</li>
			<li>Dexterity: <%=stat.Dexterity.score %> (<%=stat.Dexterity.modifier %>)</li>
			<li>Constitution: <%=stat.Constitution.score %> (<%=stat.Constitution.modifier %>)</li>
			<li>Intelligence: <%=stat.Intelligence.score %> (<%=stat.Intelligence.modifier %>)</li>
			<li>Wisdom: <%=stat.Wisdom.score %> (<%=stat.Wisdom.modifier %>)</li>
			<li>Charisma: <%=stat.Charisma.score %> (<%=stat.Charisma.modifier %>)</li>
		</ul>
	</div>
	<div class="large-4 columns">
		<u>Saving Throw</u>
		<ul>
			<li>Strength: <%= stat.Strength.modifier %></li>
			<li>Dexterity: <%= stat.Dexterity.modifier %></li>
			<li>Constitution: <%= stat.Constitution.modifier %></li>
			<li>Intelligence: <%= stat.Intelligence.modifier %></li>
			<li>Wisdom: <%= stat.Wisdom.modifier %></li>
			<li>Charisma: <%= stat.Charisma.modifier %></li>
		</ul>
	</div>
	<div class="large-4 columns">
		<u>Skills</u>
		<% for(var i = 0; i < job.skills.length; i++){ %>
			<% job.skills[i] = job.skills[i].trim() %>
		<% } %>
		<ul> 
			<li>Acrobatics (Dex): <%= job.skills.indexOf("Acrobatics") !== -1 ? stat.Dexterity.modifier + 2 : stat.Dexterity.modifier %></li>
			<li>Animal Handling (Wis): <%= job.skills.indexOf("Animal Handling") !== -1 ? stat.Wisdom.modifier + 2 : stat.Wisdom.modifier %></li>
			<li>Arcana (Int): <%= job.skills.indexOf("Arcana") !== -1 ? stat.Intelligence.modifier + 2 : stat.Intelligence.modifier %></li>
			<li>Atheltics (Str): <%= job.skills.indexOf("Atheltics") !== -1 ? stat.Strength.modifier + 2 : stat.Strength.modifier %></li>
			<li>Deception (Cha): <%= job.skills.indexOf("Deception") !== -1 ? stat.Charisma.modifier + 2 : stat.Charisma.modifier %></li>
			<li>History (Int): <%= job.skills.indexOf("History") !== -1 ? stat.Intelligence.modifier + 2 : stat.Intelligence.modifier %></li>
			<li>Insight (Wis): <%= job.skills.indexOf("Insight") !== -1 ? stat.Wisdom.modifier + 2 : stat.Wisdom.modifier %></li>
			<li>Intimidation (Cha): <%= job.skills.indexOf("Intimidation") !== -1 ? stat.Charisma.modifier + 2 : stat.Charisma.modifier %></li>
			<li>Investigation (Int): <%= job.skills.indexOf("Investigation") !== -1 ? stat.Intelligence.modifier + 2 : stat.Intelligence.modifier %></li>
			<li>Medicine (Wis): <%= job.skills.indexOf("Medicine") !== -1 ? stat.Wisdom.modifier + 2 : stat.Wisdom.modifier %></li>
			<li>Nature (Int): <%= job.skills.indexOf("Nature") !== -1 ? stat.Intelligence.modifier + 2 : stat.Intelligence.modifier %></li>
			<li>Perception (Wis): <%= job.skills.indexOf("Perception") !== -1 ? stat.Wisdom.modifier + 2 : stat.Wisdom.modifier %></li>
			<li>Performace (Cha): <%= job.skills.indexOf("Performace") !== -1 ? stat.Charisma.modifier + 2 : stat.Charisma.modifier %></li>
			<li>Persuasion (Cha): <%= job.skills.indexOf("Persuasion") !== -1 ? stat.Charisma.modifier + 2 : stat.Charisma.modifier %></li>
			<li>Religion (Int): <%= job.skills.indexOf("Religion") !== -1 ? stat.Intelligence.modifier + 2 : stat.Intelligence.modifier %></li>
			<li>Sleight of Hand (Dex): <%= job.skills.indexOf("Sleight of Hand") !== -1 ? stat.Dexterity.modifier + 2 : stat.Dexterity.modifier %></li>
			<li>Stealth (Dex): <%= job.skills.indexOf("Stealth") !== -1 ? stat.Dexterity.modifier + 2 : stat.Dexterity.modifier %></li>
			<li>Survival (Wis): <%= job.skills.indexOf("Survival") !== -1 ? stat.Wisdom.modifier + 2 : stat.Wisdom.modifier %></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<p>
			Proficiency Bonus: +2<br>
			Initiative: <%= stat.Dexterity.modifier %><br>
			Speed: <%= race.speed %>
			<br><br>
			Current Hit Points: <%= job.hp + stat.Constitution.modifier %><br>
			Hit Dice: <%= job.hit_dice %>
		</p>

		<p>
			Traits: <%= race.traits %><br>
			Armor Proficiencies: <%= job.armor_proficiencies %><br>
			Weapon Proficiencies: <%= job.weapon_proficiencies %><br>
			Tool Proficienies: <%= job.tool_proficiencies %>
		</p>
	</div>
</div>
	<script src="custom-f6/js/vendor/jquery.min.js"></script>
	<script src="custom-f6/js/vendor/what-input.min.js"></script>
	<script src="custom-f6/js/foundation.js"></script>
	<script src="custom-f6/js/app.js"></script>
</body>
</html>