<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D&amp;D 5e Character Generator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="custom-f6/css/app.css">
	<link rel="stylesheet" href="custom-f6/css/foundation.css">
	<link rel="stylesheet" href="custom-f6/css/foundation-flex.css">
	<link href='https://fonts.googleapis.com/css?family=Tulpen+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- Header Start-->
	<div class="row section">
		<h2 class="large-6 medium-6 small-6 columns" id="left-half"><%= race.male_name %><%= race.clan_or_family_name %></h2>
		<div class="large-6 medium-6 small-6 columns">
			<h4 class="large-12 medium-12 small-12 columns" id="right-half">
				Level 1 <%= job.class %>  /  BACKGROUND  /  PLAYER NAME
				<br/><%= race.race %>  /  ALIGNMENT  /  EXPERIENCE POINTS</h4>
		</div>
	</div>

<br/>
	<!-- Header End -->
	<div class="row">
	<!-- First Column Start -->
		<div class="large-4 medium-4 small-4 row section" style="margin-right:16px">
			<div class="large-5 medium-5 small-5 columns">
				<div class="large-12 medium-12 small-12 columns stats section">
					<p class="score">Strength<br/><%=stat.Strength.score %></p>
					<p class="mod"><%=stat.Strength.modifier %></p>
				</div><br/>
				<div class="large-12 medium-12 small-12 columns stats section">
					<p class="score">Dexterity<br/><%=stat.Dexterity.score %></p>
					<p class="mod"><%=stat.Dexterity.modifier %></p>
				</div><br/>
				<div class="large-12 medium-12 small-12 columns stats section">
					<p class="score">Constitution<br/><%=stat.Constitution.score %></p>
					<p class="mod"><%=stat.Constitution.modifier %></p>
				</div><br/>
				<div class="large-12 medium-12 small-12 columns stats section">
					<p class="score">Intelligence<br/><%=stat.Intelligence.score %></p>
					<p class="mod"><%=stat.Intelligence.modifier %></p>
				</div><br/>
				<div class="large-12 medium-12 small-12 columns stats section">
					<p class="score">Wisdom<br/><%=stat.Wisdom.score %></p>
					<p class="mod"><%=stat.Wisdom.modifier %></p>
				</div><br/>
				<div class="large-12 medium-12 small-12 columns stats section">
					<p class="score">Charisma<br/><%=stat.Charisma.score %></p>
					<p class="mod"><%=stat.Charisma.modifier %></p>
				</div>
			</div>
			<p class="large-7 medium-7 small-7 columns skills">
				Inspiration <br/>
				Proficiency Bonus
				<br/><br/>
				<input type="radio" value="Strength"> _____ Strength<br/>
				<input type="radio" value="Dexterity"> _____ Dexterity<br/>
				<input type="radio" value="Constitution"> _____ Constitution<br/>
				<input type="radio" value="Intelligence"> _____ Intelligence<br/>
				<input type="radio" value="Wisdom"> _____ Wisdom<br/>
				<input type="radio" value="Charisma"> _____ Charisma
				<br/><br/>
				<input type="radio" value="Acrobatics"> _____ Acrobatics (Dex)<br/>
				<input type="radio" value="Animal Handling"> _____ Animal Handling (Wis)<br/>
				<input type="radio" value="Arcana"> _____ Arcana (Int)<br/>
				<input type="radio" value="Atheltics"> _____ Atheltics (Str)<br/>
				<input type="radio" value="Deception"> _____ Deception (Cha)<br/>
				<input type="radio" value="History"> _____ History (Int)<br/>
				<input type="radio" value="Insight"> _____ Insight (Wis)<br/>
				<input type="radio" value="Intimidation"> _____ Intimidation (Cha)<br/>
				<input type="radio" value="Investigation"> _____ Investigation (Int)<br/>
				<input type="radio" value="Medicine"> _____ Medicine (Wis)<br/>
				<input type="radio" value="Nature"> _____ Nature (Int)<br/>
				<input type="radio" value="Perception"> _____ Perception (Wis)<br/>
				<input type="radio" value="Performace"> _____ Performace (Cha)<br/>
				<input type="radio" value="Persuasion"> _____ Persuasion (Cha)<br/>
				<input type="radio" value="Religion"> _____ Religion (Int)<br/>
				<input type="radio" value="Sleight of Hand"> _____ Sleight of Hand (Dex)<br/>
				<input type="radio" value="Stealth"> _____ Stealth (Dex)<br/>
				<input type="radio" value="Survival"> _____ Survival (Wis)<br/>
			</p>
			<p class="large-12 medium-12 small-12 columns section">Passive Perception</p>
			<p class="large-12 medium-12 small-12 columns section">Other Proficiences &amp; Languages</p>
		</div>
		<!-- First Column End -->
		<!-- Second Column Start -->
		<div class="large-4 medium-4 small-4 row section" style="margin-right:16px">
			<p class="large-4 medium-4 small-4 columns section">Armor Class</p>
			<p class="large-4 medium-4 small-4 columns section">Initiative</p>
			<p class="large-4 medium-4 small-4 columns section">Speed</p>
			<p class="large-12 medium-12 small-12 columns section">Current Hit Points</p>
			<p class="large-6 medium-6 small-6 columns section">Hit Dice</p>
			<p class="large-6 medium-6 small-6 columns section">
				Successes <input type="radio"> <input type="radio"> <input type="radio"><br/>
				Failures <input type="radio"> <input type="radio"> <input type="radio"><br/>
				Death Saves</p>
			<div class="large-12 medium-12 small-12 columns section">
				Attacks &amp; Spellcasting
			</div>
			<div class="large-12 medium-12 small-12 columns section">
				Equipment
			</div>
		</div>
		<!-- Second Column End -->
		<!-- Third Column Start -->
		<div class="large-3 medium-3 small-3 row section" style="margin-right:16px">
			<p class="large-12 medium-12 small-12 columns section">Personality Traits</p>
			<p class="large-12 medium-12 small-12 columns section">Ideals</p>
			<p class="large-12 medium-12 small-12 columns section">Bonds</p>
			<p class="large-12 medium-12 small-12 columns section">Flaws</p>
			<p class="large-12 medium-12 small-12 columns">Features &amp; Traits</p>
		</div>
		<!-- Third Column End -->
</div>
	<script src="custom-f6/js/vendor/jquery.min.js"></script>
	<script src="custom-f6/js/vendor/what-input.min.js"></script>
	<script src="custom-f6/js/foundation.js"></script>
	<script src="custom-f6/js/app.js"></script>
</body>
</html>