<ul>
	<li><%= races.race %></li>
	<li><%= races.ability_score %></li>
	<li><%= races.size %></li>
	<li><%= races.speed %></li>
	<li><%= races.traits %></li>
	<li><%= races.languages %></li>
	<li><%= races.male_names %></li> <!-- Choose random -->
	<li><%= races.female_names %></li> <!-- Choose random -->
	<li><%= races.clan_or_family_names %></li> <!-- Choose random -->
<ul>